// for rtl form 
.form-fa{

    // for input bootstrap 
    .form-floating > label {
        left: unset;
        right: 0;
    }

    .form-floating > .form-control:-webkit-autofill ~ label {
        transform: scale(0.85) translateY(-0.5rem) translateX(1.25rem) !important;
    }
    
    .form-floating > .form-control:focus ~ label {
        transform: scale(0.85) translateY(-0.5rem) translateX(1.25rem) !important;
    }

    // for multi select input
    .multiselect-container{
        .search-wrapper {
            display: flex;
            flex-wrap: wrap;
            input{
                padding-right: 10px;
            }
        }
        .chip{
            border-radius: 4px;
            margin-bottom: 0;
            img{
                margin-right: 5px;
            }
        }
    }
}


.table-fa{
    th{
        text-align: right;
    }

    td{
        text-align: right;
    }

    // for pagition
    .MuiTablePagination-root{
        direction: ltr;
    }

    // to add font to table
    *{
        font-family: 'kalamehBold' !important;
    }
}



